.node {
   flex: 1 0 auto;
   background-color: white;
   border-style: solid;
   border-width: 0.02px;
   border-color: #fafafa;
}
.node:before {
   padding-top: 100%;
   content: "";
   display: block;
}

.node:hover {
   border-color: #eeeeee;
}

.startNode {
   background-color: #1de9b6;
   border-color: #1de9b6;
}
.endNode {
   background-color: #ff1744;
   border-color: #ff1744;
}

.startNode:hover,
.endNode:hover {
   box-shadow: 8px 8px 8px 0px rgba(123, 159, 218, 0.8);
}

.node:drag-over {
   outline: 1px solid black;
}

.wall {
   background-color: #424242;
   border-color: #424242;
   transition: background-color 1s linear, border-color 1s linear;
}
