.node {
   width: 25px;
   height: 25px;
   /* margin: 1px; */
   background-color: #fafafa;

   border-style: solid;
   border-width: 0.02px;
   border-color: white;
}

/* .node:hover {
   box-shadow: 1px 2px 2px 0px rgba(137, 145, 158, 0.4);
} */

.startNode {
   background-color: #1de9b6;
}
.endNode {
   background-color: #ff1744;
}

.startNode:hover,
.endNode:hover {
   box-shadow: 1px 2px 2px 0px rgba(123, 159, 218, 0.6);
}

.node:drag-over {
   outline: 1px solid black;
}

.wall {
   background-color: #424242;
   border-color: #424242;
}
